# Milestone 3

Alex Peed, Kunal Shah, Willie Jin, Sam Lam

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
%matplotlib inline

In [5]:
data = pd.read_csv('/Users/AlexPeed/airbnb-pricing-prediction/datasets/listings_clean.csv')

In [6]:
data.shape

(24053, 233)

In [8]:
# data['price'] = (data['price'].str.replace(r'[^-+\d.]', '').astype(float))
# data['weekly_price'] = (data['weekly_price'].str.replace(r'[^-+\d.]', '').astype(float))
# data['monthly_price'] = (data['monthly_price'].str.replace(r'[^-+\d.]', '').astype(float))

In [9]:
col_names = list(data.columns.values)

In [10]:
nulls = []
for i in col_names:
    nulls.append(data[i].isnull().values.any())

In [11]:
col_nulls = pd.DataFrame({'col_name': col_names, 'null': nulls})

In [12]:
with_nulls = col_nulls[col_nulls.null == True]

In [13]:
data["price"].isnull().sum().sum()

0

In [15]:
# footprice = pd.DataFrame({'price': data['price'], 'square_feet': data['square_feet']})
# footprice = footprice.dropna()
# footprice.head()

In [16]:
# footprice = footprice[(footprice.price < 1001) & (footprice.square_feet < 4000)]
# footprice.head()

In [18]:
# fig, ax = plt.subplots(1, 1, figsize=(10, 6))
# ax.scatter(footprice['square_feet'] ,footprice['price'])
# ax.set_xlabel('Square Feet')
# ax.set_ylabel('Price')
# ax.set_title('Square Feet to Price')

In [19]:
# baths = data.bathrooms.dropna()

# plt.hist(baths, 16)
# plt.title("Baths Histogram")
# plt.xlabel("Number of Baths")
# plt.ylabel("Frequency")

In [20]:
# beds = data.beds.dropna()

# plt.hist(beds, 16)
# plt.title("Beds Histogram")
# plt.xlabel("Number of Beds")
# plt.ylabel("Frequency")

In [21]:
# accommodates = data.accommodates.dropna()

# plt.hist(accommodates)
# plt.title("Number Accomodated Histogram")
# plt.xlabel("Number Accomodated")
# plt.ylabel("Frequency")

In [22]:
# accprice = pd.DataFrame({'price': data['price'], 'accommodates': data['accommodates']})
# accprice = accprice.dropna()

# fig, ax = plt.subplots(1, 1, figsize=(10, 6))
# ax.scatter(accprice['accommodates'] ,accprice['price'])
# ax.set_xlabel('Number Accomodated')
# ax.set_ylabel('Price')
# ax.set_title('Number Accomodated to Price')

In [24]:
season = pd.read_csv('/Users/AlexPeed/airbnb-pricing-prediction/datasets/calendar.csv')

In [28]:
season['price'].isnull().sum().sum()

274923

In [32]:
len(season.index)

1048575

In [36]:
listing = season['listing_id'].unique()

In [37]:
season[season.price.isnull()]

         listing_id        date available price  Unnamed: 4
365         2949128    1/1/2015         f   NaN         NaN
366         2949128    1/2/2015         f   NaN         NaN
367         2949128    1/3/2015         f   NaN         NaN
368         2949128    1/4/2015         f   NaN         NaN
369         2949128    1/5/2015         f   NaN         NaN
442         2949128   3/19/2015         f   NaN         NaN
443         2949128   3/20/2015         f   NaN         NaN
444         2949128   3/21/2015         f   NaN         NaN
445         2949128   3/22/2015         f   NaN         NaN
446         2949128   3/23/2015         f   NaN         NaN
447         2949128   3/24/2015         f   NaN         NaN
448         2949128   3/25/2015         f   NaN         NaN
449         2949128   3/26/2015         f   NaN         NaN
1095        4325398    1/1/2015         f   NaN         NaN
1096        4325398    1/2/2015         f   NaN         NaN
1097        4325398    1/3/2015         f   NaN         NaN
1098        4325398    1/4/2015         f   NaN         NaN
1099        4325398    1/5/2015         f   NaN         NaN
1100        4325398    1/6/2015         f   NaN         NaN
1101        4325398    1/7/2015         f   NaN         NaN
1102        4325398    1/8/2015         f   NaN         NaN
1103        4325398    1/9/2015         f   NaN         NaN
1104        4325398   1/10/2015         f   NaN         NaN
1105        4325398   1/11/2015         f   NaN         NaN
1106        4325398   1/12/2015         f   NaN         NaN
1107        4325398   1/13/2015         f   NaN         NaN
1108        4325398   1/14/2015         f   NaN         NaN
1109        4325398   1/15/2015         f   NaN         NaN
1110        4325398   1/16/2015         f   NaN         NaN
1111        4325398   1/17/2015         f   NaN         NaN
...             ...         ...       ...   ...         ...
1048545     4557019   9/24/2015         f   NaN         NaN
1048546     4557019   9/25/2015         f   NaN         NaN
1048547     4557019   9/26/2015         f   NaN         NaN
1048548     4557019   9/27/2015         f   NaN         NaN
1048549     4557019   9/28/2015         f   NaN         NaN
1048550     4557019   9/29/2015         f   NaN         NaN
1048551     4557019   9/30/2015         f   NaN         NaN
1048552     4557019   10/1/2015         f   NaN         NaN
1048553     4557019   10/2/2015         f   NaN         NaN
1048554     4557019   10/3/2015         f   NaN         NaN
1048555     4557019   10/4/2015         f   NaN         NaN
1048556     4557019   10/5/2015         f   NaN         NaN
1048557     4557019   10/6/2015         f   NaN         NaN
1048558     4557019   10/7/2015         f   NaN         NaN
1048559     4557019   10/8/2015         f   NaN         NaN
1048560     4557019   10/9/2015         f   NaN         NaN
1048561     4557019  10/10/2015         f   NaN         NaN
1048562     4557019  10/11/2015         f   NaN         NaN
1048563     4557019  10/12/2015         f   NaN         NaN
1048564     4557019  10/13/2015         f   NaN         NaN
1048565     4557019  10/14/2015         f   NaN         NaN
1048566     4557019  10/15/2015         f   NaN         NaN
1048567     4557019  10/16/2015         f   NaN         NaN
1048568     4557019  10/17/2015         f   NaN         NaN
1048569     4557019  10/18/2015         f   NaN         NaN
1048570     4557019  10/19/2015         f   NaN         NaN
1048571     4557019  10/20/2015         f   NaN         NaN
1048572     4557019  10/21/2015         f   NaN         NaN
1048573     4557019  10/22/2015         f   NaN         NaN
1048574     4557019  10/23/2015         f   NaN         NaN

[274923 rows x 5 columns]